<html>
<head>
<title>Cranberry</title>
<link rel="stylesheet" href="style.css">
<link rel="shortcut icon" type="image/x-icon" href="icon.png">
<link rel="apple-touch-icon" href="icon.png"/>
</head>
<body>
<div class='page'>
  <div class="section title">
    <div id="icon"><img src='icon.png'/></div>Cranberry
  </div>
  <div class="section radio">
    <p>RADIO CONTROLS</p>
    <div id="background">
      <p id="bg-text">Radio</p>
    </div>
  </div>
  <div class="section stations">
    <div id="background">
      <p id="bg-text">Stations</p>
    </div>
    Stations
  </div>
  <div class="section feature-3">
    CONFIG
  </div>
  <div class="section bottom">
    <p>Copyright</p>
  </div>
</div>
</body>