<html>
<head>
<title>Cranberry</title>
<link rel="stylesheet" href="simple.css">
<link rel="shortcut icon" type="image/x-icon" href="icon.png">
<link rel="apple-touch-icon" href="icon.png"/>
</head>
<body>
<div class='page'>
  <div class="section title">
    <div id="icon"><img src='icon.png'/></div>Cranberry
  </div>
  <div class="section radio">
      <div id="radio">
         <div class="player">
           <input type="button" value="&#9658;" onClick="playStation()">
           <select>
              <option value="radio-bayern-1">Radio Bayern 1</option>
              <option value="radio-bayern-2">Radio Bayern 2</option>
              <option value="radio-bayern-3">Radio Bayern 3</option>
           </select>
         </div>
      </div>
  </div>
  <div class="section panel">
    <div id="stations">
      <p>
        <ul>
          <li>Radio Bayern 1</li>
          <li>Radio Bayern 2</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="section panel">
      <div id="settings">
        <p>Settings</p>
      </div>
  </div>
  <div class="section panel">
      <div id="connection">
      </div>
  </div>
  <div class="section bottom">
    <p>&copy; Copyright</p>
  </div>
</div>
</body>