@font-face {
    font-family: indie;
    src: url(font.ttf);
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

hr {
    height: 1px;
    width: 100%;
    margin: 0;
}

input[type=button] {
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 2.5em;
    background: linear-gradient(#d1022b,#770017);
    border: none;
    margin: 0px auto;
    padding: 10px;
    border-radius: 30px;
}

#background {
    position:absolute;
    z-index:0;
    display:block;
    color:black;
}

#bg-text {
    transform:rotate(45deg);
    color: transparent;
    text-shadow: 2px 2px rgba(255,255,255,0.3), -2px -2px rgba(0,0,0,0.1);
    font-family: 'indie', cursive;
    font-size: 5em;
}

.page {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(#bababa,#fff);
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  background: linear-gradient(#d1022b,#770017);
  height: 100px;
  color: #fff;
  font-size: 3em;
  font-family: 'indie', cursive;
}

#icon {
  float: right;
  margin: 0 20px 0 0;
}

.panel {
  width: 100%;
  margin-top: 15px;
}

.radio {
  width: 100%;
}

#radio {
  width: 100%;
  height: 100%;
  z-index:1;
}

#settings, #connection, #stations {
  width: 100%;
  height: 100%;
  background: transparent;
  margin-top: 15px;
  z-index:1;
}

#radio p, #stations p, #settings p {
  margin: 5px;
  z-index: 1;
}

.bottom {
  background: linear-gradient(#bababa,#ddd);
  height: 50px;
  color: #fff;
  font-size: 1em;
  position: relative;
  bottom: 0;
}

/* INSTRUMENT PANEL */
.instrument {
  width: 140px;
  height: 110px;
  background: radial-gradient(at 50% 100%, #fffed8, #ffcc00);
  border-top: 2px solid rgba(0,0,0,0.6);
  border-left: 2px solid rgba(0,0,0,0.6);
  border-right: 2px solid rgba(255,255,255,0.6);
  border-bottom: 2px solid rgba(255,255,255,0.6);
  margin: 10px auto;
  box-shadow: inset 0 0 15px 0 #777;
}

.center {
    margin: auto;
}

#instrument-label {
  color: #000;
  font-size: 1em;
  margin: 0 auto;
  width: 100%;
}

#hand {
  height: 80%;
  width: 1px;
  background: #f00;
  margin: -60px auto;
  transform: rotate(-45deg);
  transform-origin: 100% 100%;
  z-index: 2;
}

.scale {
 height: 7px;
 width: 80%;
 background: transparent;
 border-left: 1px solid #000;
 border-right: 1px solid #000;
 border-bottom: 1px solid #000;
 margin: 35px auto;
}

.values {
 height: 100%;
 width: 19%;
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .panel {
    width: 50%;
  }
  .radio {
    width: 100%;
  }
}



/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .radio {
    width: 100%;
  }
  
  .panel {
    width: 33.3%;
  }
  .header {
    height: 400px;
  }
}