<!DOCTYPE html>
<head>
   <title>(C)LoudSpeaker</title>
   <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
   <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icon.png') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('button').click(function() {
            $.getJSON('/'+this.id,
                function(data) {});
            return false;
          });
        });

        $(function() {
          $('a').click(function() {
            $.getJSON('/station/'+this.id,
            function(data) {});
            return false;
          });
        });

        $(function() {
          $('img').click(function() {
            $('#logo').attr('style', '');
            $(this).attr('style', 'filter: grayscale(0%);');
        });
        });
</script>
</head>
<body>
<h1>Admin</h1>
<form id="new">
    <input type="text" id="name" label="Station"/>
    <input type="text" id="url" label="URL"/>
    <input type="text" id="logo" label="Logo"/>
</form>
</body>
</html>
