<!DOCTYPE html>
<head>
   <title>CloudSpeaker - The Kitchen Helper</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>(C)Loud<span>Speaker</span></h1>
	<h2>Radio Stations</h2>
	<select>
	  <option>Retro Radio</option>
	  <option>Radio Bayern 3</option>
	  <option>Radio Trelleborg</option>
	</select>
	<hr/>
	<h2>Volume</h2>
	<p>Current volume level: 87%</p>
	<button type="button" id="volup">+</button>
	<button type="button" id="voldn">-</button>
	<button type="button" id="mute">mute</button>
</body>
</html>
