@import url('https://fonts.googleapis.com/css?family=Gugi|Shadows+Into+Light+Two');

body {
	background: #FFFDD0;
}

h1 {
	text-align: center;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 5em;
	background: -webkit-linear-gradient(top, #f0b7a1 0%,#efdcd5 20%,#efdcd5 25%,#efdcd5 25%,#aa2614 50%,#aa2e01 51%,#efdcd5 100%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
text-shadow: 0 -1px 1px #FFFFFF, 0 1px 1px #666666;
}

h1 span {
        font-family: 'Gugi', cursive;
}
