<!DOCTYPE html>
<head>
   <title>(C)LoudSpeaker</title>
   <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
   <!--link rel="stylesheet" href="{{ url_for('static',filename='styles/lightslider.css') }}"-->
   <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icon.png') }}">
<style>
        ul{list-style: none outside none;
        padding-left: 0;
        margin: 0;
        }
        .content-slider li{
        text-align: center;
        }
        .content-slider h3 {
        margin: 0;
        padding: 70px 0;
        }
        .lSSlideOuter {
        height: 100%;
        }
        .lSPager {
        display:none;
        }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('button').click(function() {
            $.getJSON('/'+this.id,
                function(data) {});
            return false;
          });
        });

        $(function() {
          $('a').click(function() {
            $.getJSON('/station/'+this.id,
            function(data) {});
            return false;
          });
        });

        $(function() {
          $('img').click(function() {
            $('#logo').attr('style', '');
            $(this).attr('style', 'filter: grayscale(0%);');
        });
        });
</script>
<!--script src="{{ url_for('static',filename='js/lightslider.js') }}"></script--> 
<!--script>
         $(document).ready(function() {
                        $("#content-slider").lightSlider({
                loop:true,
                keyPress:true
            });
            $('#image-gallery').lightSlider({
                gallery:true,
                item:1,
                thumbItem:9,
                slideMargin: 0,
                speed:500,
                auto:false,
                loop:true,
                pager:false,
                onSliderLoad: function() {
                    $('#image-gallery').removeClass('cS-hidden');
                }  
            });
                });
</script-->
</head>
<body>
    <nav id="top">
    <div class="top-controls">
	<button id=turn_off><img src="{{ url_for('static',filename='images/power-2-256.png') }}"/></button>
	<button id=voldn><img src="{{ url_for('static',filename='images/volume-down-256.png') }}"/></button>
	<button id=volup><img src="{{ url_for('static',filename='images/volume-up-256.png') }}" /></button>
	<button id=mute><img src="{{ url_for('static',filename='images/mute-256.png') }}" /></button>
    </div>
    </nav>
    <nav id="side">
    <div class="side-controls">
	<button id=turn_off><img src="{{ url_for('static',filename='images/power-2-256.png') }}"/></button>
	<button id=voldn><img src="{{ url_for('static',filename='images/volume-down-256.png') }}"/></button>
	<button id=volup><img src="{{ url_for('static',filename='images/volume-up-256.png') }}" /></button>
	<button id=mute><img src="{{ url_for('static',filename='images/mute-256.png') }}" /></button>
    </div>
    </nav>
    <!--div class="item"-->
    <ul id="content-slider" class="content-slider">
		{% for row in rows %}
		    <li><h3><div class="stations"><a href=# id="{{row["id"]}}"><img src="{{row["logo"]}}" id="logo" /></a></div></h3></li>
		{% endfor %}
    </ul>
    <!--/div-->
</body>
</html>