<!DOCTYPE html>
<html>
    <head>
	<title>(C)LoudSpeaker</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/knob.css') }}">
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icon.png') }}">
	<script src="{{ url_for('static',filename='js/pureknob.js')}}" type="text/javascript"></script>
	<script type="text/javascript">
	    function volumeKnob() {
		if (window.matchMedia("(orientation: portrait)").matches) {
		    var size = window.innerWidth;
		}
		if (window.matchMedia("(orientation: landscape)").matches) {
		    var size = window.innerHeight;
		}
		var knob = pureknob.createKnob(size, size);
		knob.setProperty('angleStart', -0.75 * Math.PI);
		knob.setProperty('angleEnd', 0.75 * Math.PI);
		knob.setProperty('colorFG', '#f00');
		knob.setProperty('trackWidth', 0.5);
		knob.setProperty('valMin', 0);
		knob.setProperty('valMax', 100);
		knob.setValue(0);
		var listener = function(knob, value) {
		console.log(value);
		};
		knob.addListener(listener);
		var node = knob.node();
		var elem = document.getElementById('volume');
		elem.appendChild(node);
	    }
	    function ready() {
		volumeKnob();
	    }
	    document.addEventListener('DOMContentLoaded', ready, false);
	    window.addEventListener("orientationchange", function() {
		console.log('orientation changed');
	    }, false);
	</script>
    </head>
    <body>
	<div class="main">
	    <div id="volume"></div>
	</div>
    </body>
</html>