<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//w3c//dtd xhtml 1.0 strict//en" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>
			pure-knob: Test
		</title>
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/knob.css') }}">
		<link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icon.png') }}">
		<script src="{{ url_for('static',filename='js/pureknob.js')}}" type="text/javascript"></script>
		<script type="text/javascript">
			function volumeKnob() {
				var knob = pureknob.createKnob(300, 300);
				knob.setProperty('angleStart', -0.75 * Math.PI);
				knob.setProperty('angleEnd', 0.75 * Math.PI);
				knob.setProperty('colorFG', '#333');
				knob.setProperty('trackWidth', 0.5);
				knob.setProperty('valMin', 0);
				knob.setProperty('valMax', 100);
				knob.setValue(0);
				var listener = function(knob, value) {
					console.log(value);
				};
				knob.addListener(listener);
				var node = knob.node();
				var elem = document.getElementById('volume');
				elem.appendChild(node);
			}
			function stationKnob() {
				var knob = pureknob.createKnob(300, 300);
				knob.setProperty('angleStart', -0.75 * Math.PI);
				knob.setProperty('angleEnd', 0.75 * Math.PI);
				knob.setProperty('colorFG', '#333');
				knob.setProperty('trackWidth', 0.5);
				knob.setProperty('valMin', 1);
				knob.setProperty('valMax', 7);
				knob.setValue(1);
				var listener = function(knob, value) {
					console.log(value);
				};
				knob.addListener(listener);
				var node = knob.node();
				var elem = document.getElementById('station');
				elem.appendChild(node);
			}
			function ready() {
				volumeKnob();
				stationKnob();
			}
			document.addEventListener('DOMContentLoaded', ready, false);

		</script>
	</head>
	<body>
		<div id="volume"></div>
		<div id="station"></div>
	</body>
</html>
