@import url('https://fonts.googleapis.com/css?family=Gugi|Shadows+Into+Light+Two');
@font-face {
    font-family: Fontello;
    src: url(fontello.woff);
}

body {
	background: #FFFDD0;
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	font-size: 3em;
}

h1 {
	text-align: center;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 0.5em;
	background-image: -webkit-linear-gradient(top, #f0b7a1 0%,#efdcd5 20%,#efdcd5 25%,#efdcd5 25%,#aa2614 50%,#aa2e01 51%,#efdcd5 100%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
	color: #fff;
	position: relative;
	text-shadow: none;
}

h1:before {
	background: none;
	content: attr(data-text);
	left: 0;
	position: absolute;
	top: 0;
	z-index: -1;
	text-shadow: 0 3px 0 rgba(0, 0, 0, .3);
}

h1 span {
        font-family: 'Gugi', cursive;
}

button { font-size: 2em; 
	border-radius: 70px;
	border: none;
	width: 120px;
	height: 120px;
	background-image: -webkit-linear-gradient(top, #f0b7a1 0%,#efdcd5 20%,#efdcd5 25%,#efdcd5 25%,#aa2614 50%,#aa2e01 51%,#efdcd5 100%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
	box-shadow: 2px 2px 2px 0 #333, inset 2px 2px 5px 0 #eee;
}

.controls {
    display: inline-block;
}

.stations {
    display: inline-block;
    float: left;
    margin: 10px;
    padding: 10px;
}

.stations img {
    width: 200px;
}

.inactive {
    filter: grayscale(100%);
}