@font-face {
    font-family: 'expo';
    src: url('expo.ttf');
}

@media only screen and (orientation:portrait) {
      nav#side { display:none;}
}

@media only screen and (orientation:landscape) {
      nav#top { display:none;}
}

button:focus {outline:0;}

body {
	background: #FFFDD0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	font-size: 3em;
	margin: 0 auto;
}

button { font-size: 2em; 
	border-radius: 70px;
	border: none;
	width: 120px;
	height: 120px;
	margin: 10px auto;
	background-image: -webkit-linear-gradient(top, #f0b7a1 0%,#efdcd5 20%,#efdcd5 25%,#efdcd5 25%,#aa2614 50%,#aa2e01 51%,#efdcd5 100%,#bf6e4e 100%);
	box-shadow: 2px 2px 2px 0 #333, inset 2px 2px 5px 0 #ddd;
}

button:hover {
    box-shadow: inset -2px -2px 5px 2px #222, inset 2px 2px 5px 2px #eee;
}

button:active {
    box-shadow: inset 2px 2px 5px 2px #222, inset -2px -2px 5px 2px #fff;
}


button img {
    margin: 10px auto;
    width: 100px;
}

.side-controls {
    margin: 0 auto;
    padding: 15px;
    width: 120px;
    height: 100%;
}

.top-controls {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 120px;
}

.stations {
    display: inline-block;
    float: left;
    margin: 10px;
    padding: 10px;
}

.stations img {
    width: 200px;
    filter: grayscale(100%);
}

.stations img:hover {
    filter: none;
}

.onair img{
    width: 100%;
    height: 100%;
    z-index: -1000;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    opacity: 0.3;
}

h1 {
    font-family: expo;
}

nav#side {
    width: 200px;
    min-height: 100%;
    margin: 0 10px 0 0;
    float: left;
    background-image: url('menu_bg.jpg');
    box-shadow: 5px 0px 15px #888888;
}

nav#top {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    float: top;
    background-image: url('menu_bg.jpg');
    box-shadow: 0px 5px 15px #888888;
}